.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/

# Derived from <https://kristoffer.dev/blog/obsidian-gitignore/>

# Obsidian
.trash/
.obsidian/cache/
.obsidian/workspace*
.obsidian/updates.json

# Common plugin caches
.obsidian/plugins/*/cache/
.obsidian/plugins/*/.cache/
.obsidian/plugins/*/node_modules/
